.removable-calculation {
    margin-top: 10px;
    margin-bottom: 10px;
}

.removable-calculation.top {
    border: 1px solid gold;
    border-radius: .25rem;
    background-color: lightgoldenrodyellow;
}

.holder {
    overflow-y: hidden;
    overflow-x: hidden;
}

.control-button {
    width: 50%;
    margin: 0 auto;
}

.list-holder {
    overflow-x: hidden;
    overflow-y: auto;
    height: 80%;
    margin-top: 5px;
    background:
        /* Shadow covers */
            linear-gradient(white 30%, rgba(255,255,255,0)),
            linear-gradient(rgba(255,255,255,0), white 70%) 0 100%,

                /* Shadows */
            radial-gradient(farthest-side at 50% 0, rgba(0,0,0,.2), rgba(0,0,0,0)),
            radial-gradient(farthest-side at 50% 100%, rgba(0,0,0,.2), rgba(0,0,0,0)) 0 100%;
    background-repeat: no-repeat;
    background-color: white;
    background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;

    /* Opera doesn't support this in the shorthand */
    background-attachment: local, local, scroll, scroll;
}

.bottom-buttons-holder {
    width: 100%;
    position: fixed;
}