.selectable-item {
    background-color: white;
}

.selectable-item:hover {
    background-color: lightgrey;
    cursor: pointer;
}

.selectable-item:active {
    background-color: grey;
}

.selectable-list-holder {
    background-color: white;
    z-index: 1;
    max-height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
}

.selectable-list-holder.shadow {
    box-shadow: 5px 5px 2px lightgrey;
}

.scrollbox {

}