.beer-heading {
    flex: 0 1 auto;
    display: flex;
    flex-flow: row;
    white-space: pre-wrap;
    justify-content: center;
    align-items: center;
}

.beer-holder-2 {
    display: flex;
    flex-flow: row;
    /*flex-wrap: wrap;*/
    width: 100%;
    padding: 10px;
    border-right: darkgray 1px solid;
    align-items: center;
    align-content: space-around;
    overflow: hidden;
}

.beer-content {
    flex: 0 1 auto;
}

.beer-price {
    flex: 0 1 auto;
    padding: 5px;
}

.beer-info-2 {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: space-around;
    height: 100%;
    padding: 5px;
}

.beer-heading h1 {
    margin-bottom: 0;
    width: auto;
}

.beer-heading h6 {
    margin-bottom: 0;
    margin-left: 10px;
}