.upload-area {
    width: 75%;
    height: 50%;
    border-width: 2px;
    border-style: dashed;
    border-radius: .25rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fafafa;
    border-color: #eeeeee;
    color: #bdbdbd;
}

.upload-area.mobile {

}

.upload-area.hidden {
    display: none;
}

.page {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}

.selected-image-holder {
    width: 100%;
}

.selected-image-holder.hidden {
    display: none;
}

.image {
    max-width: 50%;
    max-height: 50%;
}