.venue-name-holder {
    display: flex;
    flex-direction: row;
}

.venue-controls {
    border-bottom: darkgray solid 1px;
}

.current-venue-content {
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;
    overflow: hidden;
}

.beers-list {
    padding-top: 5px;
    flex: 1 1 100%;
    background-color: #f8f9fa;
    overflow-y: scroll;
}

.top-row {
    margin-bottom: 5px;
}