.venue-name-holder {
    display: flex;
    flex-direction: row;
}

.current-venue-content {
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;
    overflow: hidden;
}

.beers-list {
    margin-top: 5px;
    flex: 1 1 100%;
    background-color: #f8f9fa;
    overflow-y: scroll;
}